$img: '@/assets/img';

.about {
  $about: &;

  &_inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $spacing-unit;
    align-items: start;

    @include respond-to(lg) {
      grid-template-columns: 1fr;
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include respond-to(lg) {
      gap: 8px;
    }

    p {
      line-height: calc(28 / 18);
      font-size: 18px;
      font-weight: 400;
      font-family: $font-main;
      color: #043b7e;

      @include respond-to(lg) {
        font-size: 16px;
      }
    }
  }

  &_img-wrap {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 360 / 320;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
