.swiper {
  &_navigation {
    display: flex;
    align-items: center;
    gap: 12px;
    $nav: &;

    &-btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #d1d8e0;
      border-radius: 6px;
      cursor: pointer;
      flex: none;
      $btn: &;

      @include onlyDescHover {
        &:hover {
          opacity: 0.85;
        }
      }

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: center / contain no-repeat;
      }

      &--prev {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3333 9.16681H3.67832L8.08915 4.75598C8.16874 4.67911 8.23223 4.58716 8.2759 4.48549C8.31958 4.38382 8.34257 4.27447 8.34353 4.16382C8.34449 4.05317 8.3234 3.94343 8.2815 3.84102C8.2396 3.73861 8.17772 3.64556 8.09948 3.56732C8.02124 3.48908 7.92819 3.4272 7.82578 3.3853C7.72337 3.3434 7.61363 3.32231 7.50298 3.32327C7.39233 3.32424 7.28298 3.34722 7.18131 3.3909C7.07964 3.43457 6.98769 3.49806 6.91082 3.57765L1.07748 9.41098C0.921259 9.56726 0.833496 9.77918 0.833496 10.0001C0.833496 10.2211 0.921259 10.433 1.07748 10.5893L6.91082 16.4226C7.06799 16.5744 7.27849 16.6584 7.49699 16.6565C7.71548 16.6546 7.92449 16.567 8.079 16.4125C8.23351 16.258 8.32115 16.049 8.32305 15.8305C8.32494 15.612 8.24095 15.4015 8.08915 15.2443L3.67832 10.8335H18.3333C18.5543 10.8335 18.7663 10.7457 18.9226 10.5894C19.0789 10.4331 19.1667 10.2212 19.1667 10.0001C19.1667 9.77913 19.0789 9.56717 18.9226 9.41089C18.7663 9.25461 18.5543 9.16681 18.3333 9.16681Z' fill='%23043B7E'/%3E%3C/svg%3E");
        }
      }
      &--next {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9224 9.41101L13.0891 3.57768C12.9319 3.42588 12.7214 3.34188 12.5029 3.34378C12.2844 3.34568 12.0754 3.43332 11.9209 3.58783C11.7664 3.74233 11.6788 3.95134 11.6769 4.16984C11.675 4.38834 11.759 4.59884 11.9108 4.75601L16.3216 9.16684H1.66659C1.44557 9.16684 1.23361 9.25464 1.07733 9.41092C0.921049 9.5672 0.833252 9.77916 0.833252 10.0002C0.833252 10.2212 0.921049 10.4332 1.07733 10.5894C1.23361 10.7457 1.44557 10.8335 1.66659 10.8335H16.3216L11.9108 15.2443C11.8312 15.3212 11.7677 15.4132 11.724 15.5148C11.6803 15.6165 11.6573 15.7259 11.6564 15.8365C11.6554 15.9472 11.6765 16.0569 11.7184 16.1593C11.7603 16.2617 11.8222 16.3548 11.9004 16.433C11.9787 16.5112 12.0717 16.5731 12.1741 16.615C12.2765 16.6569 12.3863 16.678 12.4969 16.6771C12.6076 16.6761 12.7169 16.6531 12.8186 16.6094C12.9203 16.5658 13.0122 16.5023 13.0891 16.4227L18.9224 10.5893C19.0786 10.4331 19.1664 10.2211 19.1664 10.0002C19.1664 9.77921 19.0786 9.56728 18.9224 9.41101Z' fill='%23043B7E'/%3E%3C/svg%3E");
        }
      }
    }

    &--blog,
    &--services {
      margin-left: auto;
    }

    &--gallery {
      #{$nav}-btn {
        border-color: #043b7e;
        background: rgba($color-white, 0.8);

        &[disabled] {
          opacity: 0.5;
          cursor: default;
        }
      }
    }
  }
}
